#messages{
    position: fixed;
    top: -70px;
    right: 15px;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    -ms-transition: top 0.35s ease;
    transition: top 0.35s ease;
    z-index: 9999;
}
#messages.show{
    top: 15px;
    webkit-transition: top 0.35s ease;
    -moz-transition: top 0.35s ease;
    -o-transition: top 0.35s ease;
    -ms-transition: top 0.35s ease;
    transition: top 0.35s ease;
}
header.fixed{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 82px;
    margin-top: -82px;
    @include transition(top 0.8s);
}
header{
    background: $background;
    top: 0;
    .col-md-2,
    .col-md-3{
        width: 20%;
    }
    img{
        max-height: 80px;
    }
    .col-md-7{
        width: 60%;
    }
    ul.nav-menu{
        padding-top: 25px;
        li{
            float: left;
            margin: 0 5px;
            border: 1px solid transparent;
            @include transition(border 0.3s);
            @include border-top-right-radius(15px);
            @include border-bottom-left-radius(15px);
            a{
                color: #FFF;
                text-transform: uppercase;
								display: block;
								padding: 8px 15px;
								font-family: $font-family-raleway;
								font-weight: 600;
            }
            &:hover{
                border: 1px solid $color-border;
                @include transition(border 0.3s);
                a{
                    color: $color-hover;
                    @include transition(color 0.2s);
                }
            }
        }
				li.active{
					border: 1px solid $color-border;
				}
    }
    ul.login{
        padding-top: 25px;
        li{
            float: left;
            padding: 7px 20px;
            a{
                color: #FFF;
            }
            &:first-child{
                border: $border;
                @include border-top-right-radius(10px);
                @include border-bottom-left-radius(10px);
                margin-right: 15px;
            }
            &:last-child{
                border: 1px solid #FFF;
                @include border-top-right-radius(10px);
                @include border-bottom-left-radius(10px);
            }
        }
    }
    ul.user-header-profile{
      text-align: right;
      margin-top: 25px;
      li{
        display: inline-block;
        position: relative;
        padding-bottom: 10px;
        a{
          color: #FFF;
          height: 30px;
          line-height: 30px;
          float: left;
          i{
            padding-left: 10px;
          }
        }
        span.user-icon{
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          background: #FFF;
          color: $color-hover;
          @include border-radius(50%);
          margin-right: 5px;
          display: block;
          float: left;
        }
        ul.user-list{
          display: none;
          text-align: left;
          padding: 10px;
          position: absolute;
          right: 0;
          top: 40px;
          width: 200px;
          background: #FFF;
          z-index: 99;
          border: 1px solid #ececec;
          -webkit-box-shadow: 0 3px 5px 0 #464545;
          box-shadow: 0 3px 5px 0 #464545;
          -moz-box-shadow: 0 3px 5px 0 #464545;
          @include border-bottom-right-radius(5px);
          @include border-bottom-left-radius(5px);
          &:before{
            content: " ";
            width: 0;
            height: 0;
            border-bottom: 7px solid #FFF;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            display: inline-block;
            top: -7px;
            right: 8px;
            position: absolute;
          }
          
          li{
            display: block;
            border-bottom: 1px solid #ececec;
            padding-bottom: 5px;
            a{
              color: #000;
              float: none;
              text-align: left;
              display: block;
              i{
                padding-left: 0;
                padding-right: 5px;
              }
              &:hover{
                color: $color-hover;
                i{
                  color: #000;
                }
              }
            }
            &:last-child{
              border-bottom: 0;
              padding-bottom: 0;
            }
          }
        }
        &:hover ul.user-list{
          display: block;
        }
      }
    }
}
section.section-breadcrumb{
    .col-md-12{
        text-align: center;
        padding: 30px 0;
        ol.breadcrumb{
            background: none;
            text-transform: uppercase;
            width: 50%;
            border-bottom: 1px solid #DDD;
            display: inline-block;
            @include border-radius(0px);
            li{
                span{
                    &:before{
                        content: "/\00a0";
                        right: -13px;
                        position: relative;
                        font-weight: bold;
                        font-size: 34px;
                    }
                     &:after{
                        content: "/\00a0";
                        font-weight: bold;
                        font-size: 34px;
                        position: relative;
                        color: $color-hover;
                    }
                }
                font-size: 30px;
                a{
                    color: #000;
                }
            }
            li.active:before{
                content: ' ';
                display: none;
            }
        }
    }
    
}
