section.investment{
  .investment-description{
    p{
      line-height: 22px;
      margin-bottom: 15px;
      text-align: justify;
    }
  }
  ul.investment-list{
    li.active{
      .item-investment{
        @include box-shadow(0 0 5px #000);
      }
      	
    }
    li{
      .item-investment{
        border: 1px solid $basic-top;
        margin-bottom: 15px;
        margin-top: 15px;
        ul.plan-list{
          li{
            line-height: 25px;
						padding: 10px 15px;
						background: $event;
            span{
              color: $basic-top;
            }
						&:nth-child(2n+2){
							background: $odd;
						}
          }
        }
				.plan.plan-title{
					position: relative;
					.percentage {
						position: absolute;
						right: 0;
						top: 0;
						width: 0px;
						height: 0px;
						border-right: 30px solid #E61839;
						border-top: 45px solid #E61839;
						border-left: 30px solid #E61839;
						border-bottom: 20px solid transparent;
						span{
							color: #FFF;
							font-weight: bold;
							font-size: 18px;
							position: relative;
							left: -15px;
							top: -30px;
							font-family: Arial;
						}
					}
					.percentage-hidden{
						border-right: 30px solid transparent;
						border-top: 45px solid transparent;
						border-left: 30px solid transparent;
						border-bottom: 20px solid transparent;
					}
					.checkbox{
						left: 15px;
						position: absolute;
						top: 0;
						input{
							margin-left: 0;
						}
						
						input[type=radio] {
							display:none;
						}

						input[type=radio] + label
						{
							background: url('../img/checked.png') no-repeat;
							background-position: 0 -26px;
							height: 26px;
							width: 26px;
							display:inline-block;
							padding: 0 0 0 0px;
						}
						input[type=radio]:checked + label
						{
							background: url('../img/checked.png') no-repeat;
							
							height: 26px;
							width: 26px;
							display:inline-block;
							padding: 0 0 0 0px;
						}

					}
					h2{
						font-size: 32px;
						font-weight: 600;
						font-family: $font-family-raleway;
						background: $basic-top;
						text-align: center;
						text-transform: uppercase;
						color: #FFF;
						padding: 10px 0;
					}
					p{
						color: #FFF;
            text-align: center;
            line-height: 22px;
						background: $basic-bottom;
						font-size: 18px;
						padding: 5px 0;
					}
					h3{
						font-size: 14px;
						text-align: center;
						background: #E6E7E8;
						@include border-radius(10px);
						margin: 10px 15px;
					}
				}
				.plan.plan-content{
					p{
						padding: 15px;
						line-height: 22px;
					}
				}
        .plan-title{
          
        }
      }
      &:hover .item-investment{
				@include box-shadow(0 0 5px #000);
				cursor: pointer;
			}
      &:nth-child(2){
        .item-investment{
          border: 1px solid $silver-top;
          .plan.plan-title{
            h2{
                background: $silver-top;
            }
            p{
                background: $silver-bottom;
            }
          }
          ul.plan-list{
            li{
              span{
                color: $silver-top;
              }
            }
          }
        }
      }
      &:nth-child(3){
        .item-investment{
          border: 1px solid $gold-top;
          .plan.plan-title{
            h2{
                background: $gold-top;
            }
            p{
                background: $gold-bottom;
            }
          }
          ul.plan-list{
            li{
              span{
                color: $gold-top;
              }
            }
          }
        }
        
      }
      &:nth-child(4){
        .item-investment{
          border: 1px solid $platinum-top;
          .plan.plan-title{
            h2{
                background: $platinum-top;
            }
            p{
                background: $platinum-bottom;
            }
          }
          ul.plan-list{
            li{
              span{
                color: $platinum-top;
              }
            }
          }
        }
        
      }
    }
  }
  .box.calculator{
    background: #f3f3f3;
  }
	.box.calculator.make-deposit-payment{
		background: transparent;
		ul{
			margin-right: -15px;
			margin-left: -15px;
			padding: 0;
			li{
				.amount-title{
					border-bottom: 1px solid #E6E7E8;
					padding-bottom: 7px;
					margin-bottom: 30px;
				}
				input{
					height: 50px;
				}
			}
		}
		
	}
  
  .payment-amount{
    margin: 15px 0;
    padding: 15px;
    p.amount-title{
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 16px;
    }
    p.amount-interest{
      font-size: 24px;
      color: #1CBCE4;
      padding-top: 10px;
      font-weight: bold;
    }
    p.amount-total{
      font-size: 24px;
      color: red;
      padding-top: 10px;
      font-weight: bold;
    }
    input{
      text-align: right;
    }
  }
	
	.choose-payment{
		margin-top: 30px;
		margin-bottom: 30px;
			ul{
				padding: 30px 0;
				li{
					input{
							margin-left: 0;
						}
						
						input[type=radio] {
							display:none;
						}

						input[type=radio] + label
						{
							background: url('../img/checked-payment.png') no-repeat;
							/*background-position: 0 -26px;*/
							background-size: 100%;
							height: 37px;
							width: 227px;
							display:inline-block;
							padding: 0 0 0 0px;
							cursor: pointer;
						}
						input[type=radio]:checked + label
						{
							background: url('../img/checked-payment.png') no-repeat;
							background-size: 100%;
							background-position: 0 -48px;
							height: 37px;
							width: 227px;
							display:inline-block;
							padding: 0 0 0 0px;
						}
				}
			}
		}
		.total-overview{
			margin-top: 22px;
			h2{
				font-weight: 600;
				background: #D1D2D4;
				padding: 15px;
				text-transform: uppercase;
			}
			p{
				background: #BBBDC0;
				padding: 15px;
				font-size: 24px;
				color: red;
				font-family: Arial;
				font-weight: bold;
			}
		}
		.blance-review{
			p{
				border-bottom: 1px solid #DDD;
				border-left: 1px solid #DDD;
				border-right: 1px solid #DDD;
				line-height: 25px;
				padding: 5px 15px;
			}
			ul{
				li{
					border-bottom: 1px solid #DDD;
					border-left: 1px solid #DDD;
					border-right: 1px solid #DDD;
					line-height: 25px;
					padding: 5px 15px;
					span{
						font-weight: 600;
						font-family: Arial;
					}
				}
			}
		}
}

section.confirm-deposit{
 fieldset{
  legend{
   font-size: 26px;
  }
  ul.list-comfirm{
   padding: 10px 20px;
   h5{
    margin-bottom: 20px;
    font-size: 18px;
   }
   li{
    line-height: 25px;
    padding: 10px 15px;
    background: $event;
    &:nth-child(2n+2){
     background: $odd;
    }
		span.price{
			font-weight: bold;
			font-family: Arial;
			font-size: 16px;
		}
    span.icon-current{
     position: relative;
     top: -5px;
    }
   }
  }
  .wrap-button-confirm{
   margin: 30px;
  }
   }
}
.btn-confirm.process{
	background: $color-hover;
}
.btn-confirm:active,
.btn-confirm:focus,
.btn-confirm:visited,
.btn-confirm{
	@include transition(all ease-out .3s);
	background: #fff;
	border:2px solid #333;
	padding: 10px;
	color: #000;
	width: 150px;
	outline: none;
 @include border-radius(30px) 
}
.btn.btn-make-deposit:focus, 
.btn.btn-make-deposit:active, 
.btn.btn-make-deposit:hover,
.btn.tn-make-deposit:visited,
.btn.btn-make-deposit{
  background: #000;
	border: none;
  color: #FFF;
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 18px;
  font-family: $font-family-raleway;
  font-weight: 600;
	border-top-right-radius: (20px);
	border-bottom-left-radius: (20px);
	border-top-right-radius: (20px);
  @include border-top-right-radius(20px);
  @include border-bottom-left-radius(20px);
  @include transition(all ease-out .3s);
  outline: none;
}