section.investment{
  .investment-description{
    p{
      line-height: 22px;
      margin-bottom: 15px;
      text-align: justify;
    }
  }
  ul.investment-list{
    li.active{
      .item-investment{
        @include box-shadow(0 0 5px #000);
      }
      	
    }
    li{
      .item-investment{
        border: 1px solid $basic-top;
        margin-bottom: 15px;
        margin-top: 15px;
        ul.plan-list{
          li{
            line-height: 25px;
						padding: 10px 15px;
						background: $event;
            span{
              color: $basic-top;
            }
						&:nth-child(2n+2){
							background: $odd;
						}
          }
        }
				.plan.plan-title{
					position: relative;
					.percentage {
						position: absolute;
						right: 0;
						top: 0;
						width: 0px;
						height: 0px;
						border-right: 30px solid #E61839;
						border-top: 45px solid #E61839;
						border-left: 30px solid #E61839;
						border-bottom: 20px solid transparent;
						span{
							color: #FFF;
							font-weight: bold;
							font-size: 18px;
							position: relative;
							left: -15px;
							top: -30px;
							font-family: Arial;
						}
					}
					.checkbox{
						left: 15px;
						position: absolute;
						top: 0;
						input{
							margin-left: 0;
						}
						
						input[type=radio] {
							display:none;
						}

						input[type=radio] + label
						{
							background: url('../img/checked.png') no-repeat;
							background-position: 0 -26px;
							height: 26px;
							width: 26px;
							display:inline-block;
							padding: 0 0 0 0px;
						}
						input[type=radio]:checked + label
						{
							background: url('../img/checked.png') no-repeat;
							
							height: 26px;
							width: 26px;
							display:inline-block;
							padding: 0 0 0 0px;
						}

					}
					h2{
						font-size: 32px;
						font-weight: 600;
						font-family: $font-family-raleway;
						background: $basic-top;
						text-align: center;
						text-transform: uppercase;
						color: #FFF;
						padding: 10px 0;
					}
					p{
						color: #FFF;
            text-align: center;
            line-height: 22px;
						background: $basic-bottom;
						font-size: 18px;
						padding: 5px 0;
					}
				}
				.plan.plan-content{
					p{
						padding: 15px;
						line-height: 22px;
					}
				}
        .plan-title{
          
        }
      }
      &:hover .item-investment{
				@include box-shadow(0 0 5px #000);
				cursor: pointer;
			}
      &:nth-child(2){
        .item-investment{
          border: 1px solid $silver-top;
          .plan.plan-title{
            h2{
                background: $silver-top;
            }
            p{
                background: $silver-bottom;
            }
          }
          ul.plan-list{
            li{
              span{
                color: $silver-top;
              }
            }
          }
        }
      }
      &:nth-child(3){
        .item-investment{
          border: 1px solid $gold-top;
          .plan.plan-title{
            h2{
                background: $gold-top;
            }
            p{
                background: $gold-bottom;
            }
          }
          ul.plan-list{
            li{
              span{
                color: $gold-top;
              }
            }
          }
        }
        
      }
      &:nth-child(4){
        .item-investment{
          border: 1px solid $platinum-top;
          .plan.plan-title{
            h2{
                background: $platinum-top;
            }
            p{
                background: $platinum-bottom;
            }
          }
          ul.plan-list{
            li{
              span{
                color: $platinum-top;
              }
            }
          }
        }
        
      }
    }
  }
  .box.calculator{
    background: #f3f3f3;
  }
  
  .payment-amount{
    margin: 15px 0;
    padding: 15px;
    p.amount-title{
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 16px;
    }
    p.amount-interest{
      font-size: 24px;
      color: #1CBCE4;
      padding-top: 10px;
      font-weight: bold;
    }
    p.amount-total{
      font-size: 24px;
      color: red;
      padding-top: 10px;
      font-weight: bold;
    }
    input{
      text-align: right;
    }
  }
}
.btn-make-deposit.focus, 
.btn-make-deposit:focus, 
.btn-make-deposit:hover,
.btn-make-deposit:visited,
.btn-make-deposit{
  background: #000;
  border-color: #000;
  color: #FFF;
  text-transform: uppercase;
  padding: 15px 15px;
  font-size: 18px;
  font-family: $font-family-raleway;
  font-weight: 600;
  @include border-top-right-radius(20px);
  @include border-bottom-left-radius(20px);
  @include transition(all ease-out .3s);
  outline: none;
}