header.fixed{
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 82px;
    margin-top: -82px;
    @include transition(top 0.8s);
}
header{
    background: $background;
    top: 0;
    .col-md-2,
    .col-md-3{
        width: 20%;
    }
    img{
        max-height: 80px;
    }
    .col-md-7{
        width: 60%;
    }
    ul.nav-menu{
        padding-top: 25px;
        li{
            float: left;
            padding: 7px 20px;
            border: 1px solid transparent;
            @include transition(border 0.3s);
            @include border-top-right-radius(15px);
            @include border-bottom-left-radius(15px);
            a{
                color: #FFF;
                text-transform: uppercase;
                @include transition(color 0.2s);
            }
            &:hover{
                border: 1px solid $color-border;
                @include transition(border 0.3s);
                a{
                    color: $color-hover;
                    @include transition(color 0.2s);
                }
            }
            
        }
    }
    ul.login{
        padding-top: 25px;
        li{
            float: left;
            padding: 7px 20px;
            a{
                color: #FFF;
            }
            &:first-child{
                border: $border;
                @include border-top-right-radius(10px);
                @include border-bottom-left-radius(10px);
                margin-right: 15px;
            }
            &:last-child{
                border: 1px solid #FFF;
                @include border-top-right-radius(10px);
                @include border-bottom-left-radius(10px);
            }
        }
        
    }    
}
