// set breakpoint
$breakpoint-to-ems: true;
$print-media: 'print';
$hidpi: min-resolution 143dppx;

// for user width max-width only
$phone-small: 320px;
$phone-medium: 480px;
$tablet-small: 640px;
$tablet-medium: 767px;
$desktop: 1020px;
$desktop-full: 1080px;

@media(max-width: $phone-small){
	background: #000;
}