/*@import "vendors/bootstrap/stylesheets/bootstrap_custom";*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic,500italic,700italic,900,900italic&subset=latin,vietnamese);
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_reset\.scss}line{font-family:\000031}}
.clearfix {
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_reset\.scss}line{font-family:\000034}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_type\.scss}line{font-family:\000033}}
html, body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  zoom: 1;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\000031}}
h1, h2, h3, h4, h5, h6 {
  padding: 5px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\000034}}
h1 {
  font-size: 36px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\000037}}
h2 {
  font-size: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000310}}
h3 {
  font-size: 18px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000313}}
h4 {
  font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000316}}
h5 {
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000319}}
h6 {
  font-size: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000327}}
a {
  cursor: pointer;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000331}}
a:hover {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/base\/_typography\.scss}line{font-family:\0000334}}
img {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\000031}}
#messages {
  position: fixed;
  top: -70px;
  right: 15px;
  -moz-transition: top 0.35s ease;
  -o-transition: top 0.35s ease;
  -ms-transition: top 0.35s ease;
  transition: top 0.35s ease;
  z-index: 9999; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000311}}
#messages.show {
  top: 15px;
  webkit-transition: top 0.35s ease;
  -moz-transition: top 0.35s ease;
  -o-transition: top 0.35s ease;
  -ms-transition: top 0.35s ease;
  transition: top 0.35s ease; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000319}}
header.fixed {
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 82px;
  margin-top: -82px;
  transition: top 0.8s;
  -moz-transition: top 0.8s;
  -webkit-transition: top 0.8s;
  -ms-transition: top 0.8s;
  -o-transition: top 0.8s; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000327}}
header {
  background: #030303;
  top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000330}}
  header .col-md-2,
  header .col-md-3 {
    width: 20%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000334}}
  header img {
    max-height: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000337}}
  header .col-md-7 {
    width: 60%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000340}}
  header ul.nav-menu {
    padding-top: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000342}}
    header ul.nav-menu li {
      float: left;
      padding: 7px 20px;
      border: 1px solid transparent;
      transition: border 0.3s;
      -moz-transition: border 0.3s;
      -webkit-transition: border 0.3s;
      -ms-transition: border 0.3s;
      -o-transition: border 0.3s;
      border-top-right-radius: 15px;
      -moz-border-top-right-radius: 15px;
      -webkit-border-top-right-radius: 15px;
      -ms-border-top-right-radius: 15px;
      -o-border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
      -moz-border-bottom-left-radius: 15px;
      -webkit-border-bottom-left-radius: 15px;
      -ms-border-bottom-left-radius: 15px;
      -o-border-bottom-left-radius: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000349}}
      header ul.nav-menu li a {
        color: #FFF;
        text-transform: uppercase;
        transition: color 0.2s;
        -moz-transition: color 0.2s;
        -webkit-transition: color 0.2s;
        -ms-transition: color 0.2s;
        -o-transition: color 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000354}}
      header ul.nav-menu li:hover {
        border: 1px solid #f19a0d;
        transition: border 0.3s;
        -moz-transition: border 0.3s;
        -webkit-transition: border 0.3s;
        -ms-transition: border 0.3s;
        -o-transition: border 0.3s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000357}}
        header ul.nav-menu li:hover a {
          color: #f19a0d;
          transition: color 0.2s;
          -moz-transition: color 0.2s;
          -webkit-transition: color 0.2s;
          -ms-transition: color 0.2s;
          -o-transition: color 0.2s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000365}}
  header ul.login {
    padding-top: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000367}}
    header ul.login li {
      float: left;
      padding: 7px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000370}}
      header ul.login li a {
        color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000373}}
      header ul.login li:first-child {
        border: 1px solid #f19a0d;
        border-top-right-radius: 10px;
        -moz-border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -ms-border-top-right-radius: 10px;
        -o-border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -ms-border-bottom-left-radius: 10px;
        -o-border-bottom-left-radius: 10px;
        margin-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000379}}
      header ul.login li:last-child {
        border: 1px solid #FFF;
        border-top-right-radius: 10px;
        -moz-border-top-right-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -ms-border-top-right-radius: 10px;
        -o-border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -moz-border-bottom-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -ms-border-bottom-left-radius: 10px;
        -o-border-bottom-left-radius: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000386}}
  header ul.user-header-profile {
    text-align: right;
    margin-top: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000389}}
    header ul.user-header-profile li {
      display: inline-block;
      position: relative;
      padding-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000393}}
      header ul.user-header-profile li a {
        color: #FFF;
        height: 30px;
        line-height: 30px;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\0000398}}
        header ul.user-header-profile li a i {
          padding-left: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003102}}
      header ul.user-header-profile li span.user-icon {
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background: #FFF;
        color: #f19a0d;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        margin-right: 5px;
        display: block;
        float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003114}}
      header ul.user-header-profile li ul.user-list {
        display: none;
        text-align: left;
        padding: 10px;
        position: absolute;
        right: 0;
        top: 40px;
        width: 200px;
        background: #FFF;
        z-index: 99;
        border: 1px solid #ececec;
        -webkit-box-shadow: 0 3px 5px 0 #464545;
        box-shadow: 0 3px 5px 0 #464545;
        -moz-box-shadow: 0 3px 5px 0 #464545;
        border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -ms-border-bottom-right-radius: 5px;
        -o-border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -ms-border-bottom-left-radius: 5px;
        -o-border-bottom-left-radius: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003130}}
        header ul.user-header-profile li ul.user-list:before {
          content: " ";
          width: 0;
          height: 0;
          border-bottom: 7px solid #FFF;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          display: inline-block;
          top: -7px;
          right: 8px;
          position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003143}}
        header ul.user-header-profile li ul.user-list li {
          display: block;
          border-bottom: 1px solid #ececec;
          padding-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003147}}
          header ul.user-header-profile li ul.user-list li a {
            color: #000;
            float: none;
            text-align: left;
            display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003152}}
            header ul.user-header-profile li ul.user-list li a i {
              padding-left: 0;
              padding-right: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003156}}
            header ul.user-header-profile li ul.user-list li a:hover {
              color: #f19a0d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003158}}
              header ul.user-header-profile li ul.user-list li a:hover i {
                color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003163}}
          header ul.user-header-profile li ul.user-list li:last-child {
            border-bottom: 0;
            padding-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003169}}
      header ul.user-header-profile li:hover ul.user-list {
        display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003176}}
section.section-breadcrumb .col-md-12 {
  text-align: center;
  padding: 30px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003179}}
  section.section-breadcrumb .col-md-12 ol.breadcrumb {
    background: none;
    text-transform: uppercase;
    width: 50%;
    border-bottom: 1px solid #DDD;
    display: inline-block;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    -ms-border-radius: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003186}}
    section.section-breadcrumb .col-md-12 ol.breadcrumb li {
      font-size: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003188}}
      section.section-breadcrumb .col-md-12 ol.breadcrumb li span:before {
        content: "/\00a0";
        right: -13px;
        position: relative;
        font-weight: bold;
        font-size: 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003195}}
      section.section-breadcrumb .col-md-12 ol.breadcrumb li span:after {
        content: "/\00a0";
        font-weight: bold;
        font-size: 34px;
        position: relative;
        color: #f19a0d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003204}}
      section.section-breadcrumb .col-md-12 ol.breadcrumb li a {
        color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_header\.scss}line{font-family:\00003208}}
    section.section-breadcrumb .col-md-12 ol.breadcrumb li.active:before {
      content: ' ';
      display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_payment\.scss}line{font-family:\000032}}
section.payment {
  padding: 30px 0;
  height: 150px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_payment\.scss}line{font-family:\000035}}
  section.payment ul {
    padding-top: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_payment\.scss}line{font-family:\000039}}
  section.payment div.register-now p {
    font-size: 24px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_payment\.scss}line{font-family:\0000313}}
  section.payment div.register-now a {
    background: #f19a0d;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
    padding: 15px 5px;
    color: #FFF;
    display: inline-block;
    width: 100%;
    border-top-right-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -ms-border-top-right-radius: 20px;
    -o-border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-bottom-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -ms-border-bottom-left-radius: 20px;
    -o-border-bottom-left-radius: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\000031}}
section.statistics {
  background: url("../default/stats-bg.jpg") no-repeat; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\000034}}
  section.statistics div.statistics-title h2 {
    color: #FFF;
    font-size: 36px;
    text-align: center;
    padding: 30px 0 40px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000311}}
  section.statistics ul {
    padding-bottom: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000313}}
    section.statistics ul li {
      text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000315}}
      section.statistics ul li div.round-statistics {
        width: 200px;
        height: 200px;
        border: 4px solid #ea611b;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -o-border-radius: 50%;
        -ms-border-radius: 50%;
        padding: 10px;
        box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000323}}
        section.statistics ul li div.round-statistics div.item-statistics {
          width: 100%;
          height: 100%;
          background: #37454e;
          padding-top: 60px;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -ms-border-radius: 50%;
          text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000330}}
          section.statistics ul li div.round-statistics div.item-statistics p.number-statistics {
            color: #FFF;
            font-size: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000334}}
          section.statistics ul li div.round-statistics div.item-statistics p.name-statistics {
            color: #9d9d9d;
            text-transform: uppercase;
            padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000341}}
      section.statistics ul li:nth-child(2) div.round-statistics {
        border-color: #ffc122; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000344}}
      section.statistics ul li:nth-child(3) div.round-statistics {
        border-color: #b3ce5b; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_statitics\.scss}line{font-family:\0000347}}
      section.statistics ul li:nth-child(4) div.round-statistics {
        border-color: #55c3e8; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\000031}}
.section {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\000034}}
#slider {
  overflow: hidden;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\000038}}
  #slider .item img {
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\0000312}}
  #slider .owl-buttons {
    /*        overflow: hidden;
            position: relative;*/ }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\0000315}}
    #slider .owl-buttons div {
      position: absolute;
      z-index: 9;
      top: 43%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\0000321}}
    #slider .owl-buttons div.owl-prev {
      left: -10%;
      transition: left 0.5s;
      -moz-transition: left 0.5s;
      -webkit-transition: left 0.5s;
      -ms-transition: left 0.5s;
      -o-transition: left 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\0000325}}
    #slider .owl-buttons div.owl-next {
      right: -10%;
      transition: right 0.5s;
      -moz-transition: right 0.5s;
      -webkit-transition: right 0.5s;
      -ms-transition: right 0.5s;
      -o-transition: right 0.5s; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\0000329}}
    #slider .owl-buttons i {
      font-size: 60px;
      color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\0000335}}
  #slider:hover div.owl-next {
    right: 5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_sidebar\.scss}line{font-family:\0000338}}
  #slider:hover div.owl-prev {
    left: 5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\000033}}
section.block-news ul.list-news li {
  min-height: 315px;
  margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\000034}}
  section.block-news ul.list-news li a {
    color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\000039}}
  section.block-news ul.list-news li img {
    max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000312}}
  section.block-news ul.list-news li h2 {
    font-weight: bold;
    font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000316}}
  section.block-news ul.list-news li p {
    line-height: 1.3; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000318}}
    section.block-news ul.list-news li p a {
      text-transform: uppercase;
      color: #575556;
      border-left: 3px solid #f19a0d;
      padding-left: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000325}}
  section.block-news ul.list-news li p.readmore {
    margin-top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000333}}
section.paging .pagination a, section.paging .pagination span {
  margin-left: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000337}}
section.paging .pagination li.active a {
  background-color: #f19a0d;
  border-color: #f19a0d; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000345}}
section .title-related {
  width: 100%;
  border-left: 5px solid #f19a0d;
  padding: 5px 10px;
  background-color: #373737;
  text-transform: uppercase;
  color: #FFF;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000358}}
section ul.news-related li {
  width: 48%;
  margin-right: 4%;
  float: left;
  margin-bottom: 30px;
  min-height: 205px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000359}}
  section ul.news-related li a {
    color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000367}}
  section ul.news-related li:nth-child(2n+2) {
    margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000370}}
  section ul.news-related li h2 {
    font-size: 14px;
    font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000374}}
  section ul.news-related li p {
    line-height: 1.3; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000376}}
    section ul.news-related li p a {
      text-transform: uppercase;
      color: #575556;
      border-left: 3px solid #f19a0d;
      padding-left: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000383}}
  section ul.news-related li p.readmore {
    margin-top: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000388}}
section ol.breadcrumb {
  background-color: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  -ms-border-radius: 0px;
  border-bottom: 1px solid #DDD;
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px 0 15px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000396}}
  section ol.breadcrumb li a {
    color: #000; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\0000399}}
  section ol.breadcrumb li:before {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\00003102}}
  section ol.breadcrumb li i {
    padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\00003107}}
section h1 {
  font-size: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_news\.scss}line{font-family:\00003114}}
section.news-detail .detail p {
  line-height: 1.5;
  margin-bottom: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\000031}}
footer {
  background: #030303;
  padding: 15px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\000034}}
  footer img {
    max-height: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\000037}}
  footer div.col-md-4 {
    border-right: 1px solid #2c2b31; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\000039}}
    footer div.col-md-4:last-of-type {
      border-right: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000313}}
    footer div.col-md-4 div.news h2 {
      color: #FFF;
      font-size: 24px;
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000318}}
    footer div.col-md-4 div.news ul {
      margin-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000320}}
      footer div.col-md-4 div.news ul li {
        list-style-type: square;
        color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000325}}
    footer div.col-md-4 div.news a.readmove {
      border: 1px solid #f19a0d;
      transition: border 0.3s;
      -moz-transition: border 0.3s;
      -webkit-transition: border 0.3s;
      -ms-transition: border 0.3s;
      -o-transition: border 0.3s;
      border-top-right-radius: 10px;
      -moz-border-top-right-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -ms-border-top-right-radius: 10px;
      -o-border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      -moz-border-bottom-left-radius: 10px;
      -webkit-border-bottom-left-radius: 10px;
      -ms-border-bottom-left-radius: 10px;
      -o-border-bottom-left-radius: 10px;
      padding: 5px 10px;
      display: inline-block;
      margin: 10px 0 0 15px;
      color: #FFF; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000334}}
      footer div.col-md-4 div.news a.readmove i {
        padding-left: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000337}}
      footer div.col-md-4 div.news a.readmove:hover {
        border: 1px solid #F8ED94;
        color: #f19a0d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000345}}
    footer div.col-md-4 div.social ul li {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000347}}
      footer div.col-md-4 div.social ul li a {
        color: #dadada; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000349}}
        footer div.col-md-4 div.social ul li a i {
          font-size: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000358}}
  footer div.footer-block p {
    color: #FFF;
    margin-top: 15px;
    line-height: 1.7;
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000364}}
  footer div.footer-block p.logo {
    margin-top: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000367}}
  footer div.footer-block p.address {
    padding-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000371}}
  footer div.footer-block p.coppyright {
    font-size: 14px;
    color: #737373; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000374}}
    footer div.footer-block p.coppyright span {
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000379}}
  footer div.footer-block ul li {
    display: inline-block;
    padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000385}}
  footer ul {
    margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000387}}
    footer ul li {
      line-height: 1.7; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000389}}
      footer ul li a {
        color: #FFF;
        font-size: 14px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000392}}
        footer ul li a:hover {
          color: #f19a0d; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\0000395}}
        footer ul li a i.fa {
          font-size: 20px;
          padding-right: 15px;
          width: 30px;
          position: relative;
          top: 2px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_footer\.scss}line{font-family:\00003103}}
        footer ul li a i.fa.fa-mobile {
          font-size: 36px;
          top: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\000032}}
.deposit-form input {
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\000035}}
.deposit-form .modal-header {
  padding: 5px 15px;
  background: #f19a0d;
  border-top-left-radius: 3px;
  -moz-border-top-left-radius: 3px;
  -webkit-border-top-left-radius: 3px;
  -ms-border-top-left-radius: 3px;
  -o-border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  border-bottom-color: #a86016;
  color: #FFF;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000314}}
.deposit-form .form-group {
  margin-bottom: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000317}}
.deposit-form .btn-primary {
  background: #353535;
  margin-right: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000321}}
.deposit-form .login-line {
  height: 1px;
  background: #d0d0d0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000325}}
.deposit-form a {
  color: #418bca;
  text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000329}}
.deposit-form p {
  padding-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000332}}
.deposit-form p.error {
  /*      padding-bottom: 15px;*/
  padding-top: 5px;
  color: red;
  font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000338}}
.deposit-form .close {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background: #FFF;
  width: 20px;
  height: 20px;
  opacity: 1;
  margin-top: 5px;
  outline: none;
  padding: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000348}}
.deposit-form .validation {
  color: red; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000352}}
.deposit-form div.login-error p.error {
  padding-bottom: 10px;
  font-size: 14px; }

/* register form */
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000360}}
#register .form-group {
  margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/layout\/_login\.scss}line{font-family:\0000363}}
#register .modal-body {
  padding-right: 50px; }

/* end register form */
/*
 + set breakpoint
 + det device width max-width only
*/
/*
 + set max width for tablet 990
*/
@media all and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/media\/responsive\/_tablet990\.scss}line{font-family:\000031}}
  .abc990 {
    color: #000; } }
/*
 + set max width for tablet 960
*/
@media all and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/media\/responsive\/_tablet960\.scss}line{font-family:\000031}}
  .abc960 {
    color: #000; } }
/*
 + set for tablet, min width 767 + 1px max width 990
*/
@media all and (min-width: 768px) and (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/media\/responsive\/_tablet_max_990_min_767\.scss}line{font-family:\000031}}
  .abc-max990-min767 {
    color: #000; } }
/*
 + set for tablet, min width 767 + 1px max width 960
*/
@media all and (min-width: 768px) and (max-width: 960px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/media\/responsive\/_tablet_max_960_min_767\.scss}line{font-family:\000031}}
  .abc-max990-min767 {
    color: #000; } }
/*
 + set for tablet max width 767
*/
@media all and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/media\/responsive\/_tablet767\.scss}line{font-family:\000031}}
  .abc767 {
    color: #fff; } }
/*
 + set for tablet small max width 767 and min width 480 + 1px
*/
@media all and (min-width: 481px) and (max-width: 767px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/media\/responsive\/_tablet_max_767_min_480\.scss}line{font-family:\000031}}
  .abc-max767-min480 {
    color: #000; } }
/*
 + set for mobile max width 480
*/
@media all and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/D\:\/wamp\/www\/cms\/public\/sass\/media\/responsive\/_mobile480\.scss}line{font-family:\000031}}
  .abc480 {
    color: #000; } }
/*
 + set for mobile max width 320
*/

/*# sourceMappingURL=main.css.map */
