@media screen and (max-width: 767px) {
    .navbar-nav{
        margin: 0;
    }
    .navbar-nav>li>a{
        padding-top: 15px;
        padding-bottom: 15px;
    }
	.header{
		border-bottom: 1px solid #0D97C9;
	}
	.column_descripton{
		display: none;
	}
    .navbar-nav .open .dropdown-menu{
        position: absolute;
    }
    .form-horizontal .control-label{
        text-align: left;
    }
    table{
        border-collapse: inherit;
    }
}
@media screen and (max-width: 667px) {
	.column_quantity{
		display: none;
	}
    .logo{
        display: none;
    }
    .menu-sliderbar{
        margin-left: 0;
    }
}
@media screen and (max-width: 480px) {
    .btn.btn-custom.active, .btn.btn-custom:active, .btn.btn-custom:focus, .btn.btn-custom:visited, .btn.btn-custom{
        text-transform: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}