@media screen and (max-width: 767px) {
    .navbar-nav{
        margin: 0;
    }
    .navbar-nav>li>a{
        padding-top: 15px;
        padding-bottom: 15px;
    }
	.header{
		border-bottom: 1px solid #0D97C9;
	}
	.column_descripton{
		display: none;
	}
    .navbar-nav .open .dropdown-menu{
        position: absolute;
    }
}
@media screen and (max-width: 667px) {
	.column_weight,
	.column_quantity{
		display: none;
	}
    .logo{
        display: none;
    }
    .menu-sliderbar{
        margin-left: 0;
    }
/*    .sidebar{
        margin-left: -220px;
    }
    .main{
        margin-left: 0;
    }*/
}