html, body{
	font-size: 14px;
	background: #eef3f7;
}
ul ,li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a{
    color: #000;
    text-decoration: none;
}
a:active,
a:visited,
a:focus,
a:hover{
    text-decoration: none;
}

header{
	background: #38b8e6;
    position: fixed;
    z-index: 99;
    width: 100%;
    top: 0;
    left: 0;
}
.nav-admin{
	background: none;
	border-radius: 0;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	height: auto;
	margin-bottom: 0;
	min-height: 0;
}
.nav-admin.navbar-default .navbar-nav>li>a{
	padding: 10px 15px;
}
.nav-admin.navbar-default .navbar-nav>li>a,
.nav-admin.navbar-default .navbar-nav>.active>a, 
.nav-admin.navbar-default .navbar-nav>.open>a{
	color: #FFF;
}
.nav-admin.navbar-default .navbar-nav>li:hover,
.nav-admin.navbar-default .navbar-nav>li>a:focus, 
.nav-admin.navbar-default .navbar-nav>li>a:hover,
.nav-admin.navbar-default .navbar-nav>.active>a, 
.nav-admin.navbar-default .navbar-nav>.open>a{
	background: #1a9dcc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	text-shadow: none;
}
/*.nav-admin.navbar-default .navbar-nav>li:hover .dropdown-menu{
	display: block;
}*/
.nav-admin .dropdown-menu{
	background: #1a9dcc;
	padding: 5px 10px;
	border: 0;
	box-shadow: 0 9px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 9px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 9px 12px rgba(0,0,0,.175);
}
.nav-admin .dropdown-menu>li>a{
	color: #FFF;
	padding: 7px 20px;
}
.nav-admin .dropdown-menu>li>a:focus, 
.nav-admin .dropdown-menu>li>a:hover{
	background: #38b8e6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.nav-admin .nav li a{
}
.nav-admin.navbar-default .navbar-nav>.active>a, 
.nav-admin.navbar-default .navbar-nav>.open>a{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.nav-admin.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: #FFF;
}
/*
.profile{
	margin: 10px 0;
}
#user-profile li{
	position: relative;
	height: 40px;
}
#user-profile li ul{
	display: none;
	position: absolute;
	z-index: 99;
	background: #0590d4;
	width: 150px;
	right: 0;
	padding: 10px 15px;
	margin-top: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#user-profile li ul:before{
	content: ' ';
	width: 0;
	height: 0;
	border-bottom: 10px solid #0590d4; 
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	position: absolute;
	right: 10px;
	top: -10px;
}
#user-profile li a{
	color: #FFF;
	text-decoration: none;
}
#user-profile li ul li a{
	line-height: 35px;
	transition: all 3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	color: #FFF;
}
#user-profile li a var{
	width: 30px;
	height: 30px;
	background: #FFF;
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	color: #939393;
	line-height: 30px;
	background: #FFF url('../img/icon.png') no-repeat;
 	background-position: -22px -18px;
}
#user-profile li a i.icon{
	width: 18px;
	height: 18px;
}#user-profile li:hover ul#user{
	display: block;
}
#user-profile li:hover ul#user li a{
	color: #FFF;
}

#user-profile li:hover a{
	color: #ffde00;
}

i.icon.iconlogout{
	background-position: -570px 2px;
}
i.icon.iconprofile{
	background-position: 0px -25px;
}*/

/*ul#user li a:hover{
	color: #ffde00 !important;
}*/

/* user profile */
#user-profile .dropdown-menu{
    left: auto;
    right: 0;
    padding: 0;
    min-width: 255px;
    -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border: 1px solid #3c8dbc;
    border-top: 1px solid #FFF;
}
#user-profile.navbar-nav > .user-menu > .dropdown-menu > li.user-header{
    height: 175px;
    padding: 10px;
    background: #3c8dbc;
    text-align: center;
}
#user-profile.navbar-nav > .user-menu > .dropdown-menu > li.user-header > img {
    z-index: 5;
    height: 90px;
    width: 90px;
    border: 8px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}
#user-profile.navbar-nav > .user-menu > .dropdown-menu > li.user-header > p {
    z-index: 5;
    color: #f9f9f9;
    color: rgba(255, 255, 255, 0.8);
    font-size: 17px;
    text-shadow: 2px 2px 3px #333333;
    margin-top: 10px;
}

#user-profile.navbar-nav > .user-menu > .dropdown-menu > li.user-footer {
    background-color: #f9f9f9;
    padding: 10px 10px;
    width: 100%;
    display: inline-block;
}
.btn-profile{
    border: 1px solid #DDD;
    padding: 5px 10px;
    display: inline-block;
}

.navbar-nav > .user-menu > .dropdown-menu:after {
    bottom: 100%;
    right: 8px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}

.profile .nav>li>a:hover, 
.profile .nav>li>a:active, 
.profile .nav>li>a:focus, 
.profile .nav .open > a, 
.profile .nav .open > a:hover, 
.profile .nav .open > a:focus{
    background: #3c8dbc;
    color: #f6f6f6;
}
.icon-profile{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #FFF;
    border: 1px solid #DDD;
    display: inline-block;
}
.icon-profile img{
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: inline-block;
    max-width: 100%;
}
.logo{
    width: 220px;
    background: #3c8dbc;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    line-height: 50px;
}
.logo img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}


#user-profile .btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
}

.nav-admin .navbar-collapse{
	padding: 0;
}
.content{
	background: #FFF;
	border: 1px solid #8c8c8c;
	padding: 15px;
}
.filter fieldset{
	border: 1px solid #DDD;
}

.filter fieldset legend{
	border: none;
	width: auto;
	margin-left: 15px;
	padding: 0 5px;
	font-size: 16px;
}
.btn.btn-custom.active,
.btn.btn-custom:active,
.btn.btn-custom:focus,
.btn.btn-custom:visited,
.btn.btn-custom{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #38b8e6;
	box-shadow: none;
    border: 1px solid #38b8e6;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #FFF;
	text-shadow: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.btn.btn-back.add,
.btn.btn-custom.add{
    text-transform: none;
    margin-right: 5px;
}

.btn.btn-back.active,
.btn.btn-back:active,
.btn.btn-back:focus,
.btn.btn-back:visited,
.btn.btn-back{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	background: #d5d5d5;
    border: 1px solid #d5d5d5;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #000;
	text-shadow: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    box-shadow: none;
}

.btn-custom.apply.active,
.btn-custom.apply:active,
.btn-custom.apply:focus,
.btn-custom.apply:visited,
.btn-custom.apply{
    background: #860303;
    border-color: #860303;
}

/* table */
.form-table{
    margin-top: 30px;
}
.form-table .table{
    border: 1px solid #DDD;
}

.form-table .table th{
    background: #a0e3fb;
    vertical-align: top;
}
.form-table .table th.all{
    width: 15px;
}
.form-table .table th.quantity{
    width: 100px;
}
.form-table .table th.weight{
    width: 100px;
}
.form-table .table th.status{
    width: 100px;
}
.column_status{
    text-align: center;
}
.column_status a.checked{
    color: #57c222;
}
.column_status a.unchecked{
    color: #b80000;
}
.row-action{
    visibility: hidden;
}
.row-action span a{
    color: #0590d4;
}
.row-action span a:hover{
    color: #38b8e6;
}
.form-table .table tr:hover .row-action{
   visibility: visible;
}
.column-qiuck-edit{
    background: #f0f0f0;
}
.edit-row{
    background: #f0f0f0 !important;
}
.column-qiuck-edit h2{
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
#table-data tr th a{
	width: 100%;
	display: inline-block;
	color: #000;
	text-decoration: none;
}
#table-data tr th i{
	margin-left: 5px;
	visibility: hidden;
}
#table-data tr th a.desc i,
#table-data tr th a.asc i{
	visibility: visible;
}
#table-data tr th a:hover i{
	visibility: visible;
}
#table-data tr th a:hover i:before,
#table-data tr th a.desc:hover i:before{
	content: "\f0de";
}
#table-data tr th a.asc:hover i:before{
	content: "\f0dd";
}

/* paging */
.pager{
	text-align: right;
}
.pager ul li a{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	margin-left: 5px;
}
.pager .pagination{
	margin: 0;
}
/* end paging */

/* sidebar */
.sidebar{
    width: 220px;
    background: #f4f4f4;
    position: fixed;
    height: 100%;
    border-right: 1px solid #dadada;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.menu-nav{
    /*padding-left: 15px;*/
}
.menu-nav li a{
    padding-left: 10px;
    padding-right: 5px;
    width: 100%;
    display: inline-block;
    padding: 12px 10px 12px 15px;
    position: relative;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dbdbdb;
    text-decoration: none;
}
.menu-nav li a i.pull-right{
    margin-top: 3px;
}
.menu-nav li.active{
    background: #FFF;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}
.menu-nav li.active a{
    border: 0;
}
.menu-nav li.active a.active{
    font-weight: bold;
    border-bottom: 0;
}
span.icon{
	width: 25px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/icon.png) no-repeat 0px 4px;
}
ul.item{
    padding-left: 25px;
	display: none;
}
ul.item li a{
    border: 0;
}
.menu-nav{
	margin-bottom: 150px;
}
.sidebar .mCSB_inside>.mCSB_container{
	margin: 0;
}
.sidebar .mCSB_scrollTools .mCSB_draggerRail{
	background: transparent;
}
.sidebar .mCSB_scrollTools{
	width: 5px;
}

.sidebar .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
	background-color: #38B8E6;
}
.sidebar .mCSB_scrollTools .mCSB_draggerContainer{
	display: none;
}
.sidebar:hover .mCSB_scrollTools .mCSB_draggerContainer{
	display: block;
}
.menu-sliderbar{
	cursor: pointer;
	font-size: 31px;
	width: 45px;
	height: 60px;
    line-height: 60px;
	color: #FFF;
    margin-left: 220px;
}
.menu-nav li a span.icon.iconproduct{
	background-position: -30px 2px;
}

.menu-nav li a span.icon.iconstore{
	background-position: -60px 4px;
}
.menu-nav li a span.icon.iconpartner{
	background-position: -90px 2px;
}
.menu-nav li a span.icon.iconreport{
	background-position: -120px 2px;
}
.menu-nav li a span.icon.iconconfig{
	background-position: -210px 2px;
}
.menu-nav li a span.icon.iconsale{
	background-position: -180px 4px;
}
.menu-nav li a span.icon.iconhelp{
	background-position: -270px 2px;
}
.menu-nav li a span.icon.iconcategory{
	background-position: -150px 2px;
}
.menu-nav li a span.icon.iconcheckstore{
	background-position: -300px 2px;
}

.menu-nav li a span.icon.iconinvoice{
	background-position: -330px 2px;
}

.main{
    margin-left: 220px;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.wrapper{
    margin-top: 60px;
}
.main h1{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px 0;
}
.function-title{
    margin-top: 15px;
    margin-bottom: 5px;
}
.selected-custom{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    width: 50%;
    float: left;
    margin-right: 5px;
}
#key{
    min-width: 60px;
}

/* box */
.box{
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #38b8e6;
    margin-bottom: 15px;
}
.box .box-body{
    margin-top: 15px;
}
.box h2{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0 0 5px 0;
    border-bottom: 2px solid #DDD;
}
.add-item{
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    background: #38b8e6;
    color: #FFF;
    margin-left: -25px;
    cursor: pointer;
}
.btn,
.form-control{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.modal-custom .modal-content{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.modal-custom .modal-content .modal-header{
    border-bottom: 0;
    background: #38b8e6;
    position: relative;
    color: #FFF;
}
.modal-custom .modal-content input[type='text']{
    border-color: red;
}
.modal-custom .modal-header .close{
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 21px;
    text-shadow: 0;
    background: #8ADAF7;
}
.box-botton{
    border: 1px solid #860303;
}
.validation{
    color: red;
}
.help{
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    line-height: 15px;
    text-align: center;
    background-color: #38b8e6;
    color: #FFF;
    font-size: 10px;
}
.update_weight{
    width: 50px;
}
.status a{
    color: #38b8e6;
    cursor: pointer;
}
.unstatus a{
    color: #b80000;
    cursor: pointer;
}
.language .nav{
	border-bottom: none;
}