html, body{
	font-size: 14px;
	background: #eef3f7;
}
ul ,li{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

header{
	background: #38b8e6;
}
.nav-admin{
	background: none;
	border-radius: 0;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	height: auto;
	margin-bottom: 0;
	min-height: 0;
}
.nav-admin.navbar-default .navbar-nav>li>a{
	padding: 10px 15px;
}
.nav-admin.navbar-default .navbar-nav>li>a,
.nav-admin.navbar-default .navbar-nav>.active>a, 
.nav-admin.navbar-default .navbar-nav>.open>a{
	color: #FFF;
}
.nav-admin.navbar-default .navbar-nav>li:hover,
.nav-admin.navbar-default .navbar-nav>li>a:focus, 
.nav-admin.navbar-default .navbar-nav>li>a:hover,
.nav-admin.navbar-default .navbar-nav>.active>a, 
.nav-admin.navbar-default .navbar-nav>.open>a{
	background: #1a9dcc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	text-shadow: none;
}
/*.nav-admin.navbar-default .navbar-nav>li:hover .dropdown-menu{
	display: block;
}*/
.nav-admin .dropdown-menu{
	background: #1a9dcc;
	padding: 5px 10px;
	border: 0;
	box-shadow: 0 9px 12px rgba(0,0,0,.175);
	-moz-box-shadow: 0 9px 12px rgba(0,0,0,.175);
	-webkit-box-shadow: 0 9px 12px rgba(0,0,0,.175);
}
.nav-admin .dropdown-menu>li>a{
	color: #FFF;
	padding: 7px 20px;
}
.nav-admin .dropdown-menu>li>a:focus, 
.nav-admin .dropdown-menu>li>a:hover{
	background: #38b8e6;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.nav-admin .nav li a{
}
.nav-admin.navbar-default .navbar-nav>.active>a, 
.nav-admin.navbar-default .navbar-nav>.open>a{
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.nav-admin.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: #FFF;
}
i.icon{
	width: 25px;
	height: 22px;
	display: inline-block;
	vertical-align: middle;
	background: url(../img/icon.png) no-repeat 0px 4px;
}
.nav-admin .nav li a i.icon.iconproduct{
	background-position: -30px 2px;
}
.nav-admin .nav li a i.icon.iconstore{
	background-position: -60px 4px;
}
.nav-admin .nav li a i.icon.iconpartner{
	background-position: -90px 2px;
}
.nav-admin .nav li a i.icon.iconreport{
	background-position: -120px 2px;
}
.nav-admin .nav li a i.icon.iconconfig{
	background-position: -210px 2px;
}
.nav-admin .nav li a i.icon.iconsale{
	background-position: -180px 4px;
}
.nav-admin .nav li a i.icon.iconhelp{
	background-position: -270px 2px;
}
.nav-admin .nav li a i.icon.iconcategory{
	background-position: -150px 2px;
}
.nav-admin .nav li a i.icon.iconcheckstore{
	background-position: -300px 2px;
}

.nav-admin .nav li a i.icon.iconinvoice{
	background-position: -330px 2px;
}
.nav-admin .nav li a i.icon.iconrefund{
	background-position: -360px 2px;
}
.nav-admin .nav li a i.icon.iconpurchasereturn{
	background-position: -450px 2px;
}
.nav-admin .nav li a i.icon.iconpurchaseorders{
	background-position: -390px 2px;
}
.nav-admin .nav li a i.icon.iconfulfillment{
	background-position: -420px 2px;
}
.nav-admin .nav li a i.icon.iconfinancial{
	background-position: -480px 2px;
}
.nav-admin .nav li a i.icon.iconliabilities{
	background-position: -510px 2px;
}
.nav-admin .nav li a i.icon.icondayend{
	background-position: -540px 2px;
}
.nav-admin .nav li a i.icon.iconcustomer{
	background-position: -570px 2px;
}
.nav-admin .nav li a i.icon.iconsupplier{
	background-position: -270px 2px;
}
.nav-admin .nav li a i.icon.icontrademark{
	background-position: 0px -26px;
}

.nav-admin .nav li a i.icon.iconuser{
	background-position: -90px 2px;
}
.nav-admin .nav li a i.icon.iconstaff{
	background-position: -570px 2px;
}
.nav-admin .nav li a i.icon.iconshop{
	background-position: 0px -26px;
}
.nav-admin .nav li a i.icon.iconsystem{
	background-position: -210px 2px;
}
.nav-admin .nav li a i.icon.iconemail{
	background-position: -330px 2px;
}
.profile{
	margin: 10px 0;
}
#user-profile li{
	position: relative;
	height: 40px;
}
#user-profile li ul{
	display: none;
	position: absolute;
	z-index: 99;
	background: #0590d4;
	width: 150px;
	right: 0;
	padding: 10px 15px;
	margin-top: 10px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
#user-profile li ul:before{
	content: ' ';
	width: 0;
	height: 0;
	border-bottom: 10px solid #0590d4; 
	border-left: 5px solid transparent; 
	border-right: 5px solid transparent;
	position: absolute;
	right: 10px;
	top: -10px;
}
#user-profile li a{
	color: #FFF;
	text-decoration: none;
}
#user-profile li ul li a{
	line-height: 35px;
	transition: all 3s linear;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	color: #FFF;
}
#user-profile li a var{
	width: 30px;
	height: 30px;
	background: #FFF;
	display: inline-block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	color: #939393;
	line-height: 30px;
	background: #FFF url('../img/icon.png') no-repeat;
 	background-position: -22px -18px;
}
#user-profile li a i.icon{
	width: 18px;
	height: 18px;
}
i.icon.iconlogout{
	background-position: -570px 2px;
}
i.icon.iconprofile{
	background-position: 0px -25px;
}
#user-profile li:hover a{
	color: #ffde00;
}
.nav-admin .navbar-collapse{
	padding: 0;
}
#user-profile li:hover ul#user{
	display: block;
}
#user-profile li:hover ul#user li a{
	color: #FFF;
}
ul#user li a:hover{
	color: #ffde00 !important;
}
.content{
	background: #FFF;
	border: 1px solid #8c8c8c;
	padding: 15px;
}
.filter fieldset{
	border: 1px solid #DDD;
}

.filter fieldset legend{
	border: none;
	width: auto;
	margin-left: 15px;
	padding: 0 5px;
	font-size: 16px;
}
