// set font family
$font-family-default: 'Roboto', sans-serif !default;
// header background
$background: #030303 !default;
$background-bottom: #f19a0d !default;

// set font size
$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-large: 18px !default;
$font-size-h1:	36px;
$font-size-h2:	30px;
$font-size-h3:	24px;
$font-size-h4:	18px;
$font-size-h5:	$font-size-base;
$font-size-h6:	12px;

// color
$color-base: #000 !default;
$color-hover: #59d1f5 !default;
$color-border: #DDDDDD !default;
$border: 1px solod $color-border !default;

