// set font family
$font-family-default: 'merriweather', sans-serif !default;
$font-family-raleway : 'raleway', sans-serif !default;
// header background
$background: #030303 !default;
$background-bottom: #f19a0d !default;

// set font size
$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-size-large: 18px !default;
$font-size-h1:	36px;
$font-size-h2:	30px;
$font-size-h3:	24px;
$font-size-h4:	18px;
$font-size-h5:	$font-size-base;
$font-size-h6:	12px;

// color
$color-base: #000 !default;
$color-hover: #f19a0d !default;
$color-hover: #59d1f5 !default;
$color-border: #f19a0d !default;
$color-border-hover: #F8ED94 !default;
$border: 1px solid $color-border !default;

//topmenu for user profile
$background-all-user: #d1d2d4 !default;
$color-top-menu-user: #f09925 !default;
$color-top-menu-user-hover: #323132 !default;
$color-top-menu-user-hover-sub: #4c4c4c !default;
$color-total: #404041 !default;

// package 
$basic-top: #1CBCE4;
$basic-bottom:#2E839C;
$silver-top: #44CD77;
$silver-bottom:#658D6B;
$gold-top: #F1A81E;
$gold-bottom:#C58E2B;
$platinum-top: #E0683D;
$platinum-bottom:#B95935;
$odd: #FAFBFB;
$event: #F1F1F2;

